In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("D:/my python/jupyter/Data__Set.csv")

In [7]:
nullval =df.isnull().sum()
notnull = df.notnull().sum()
duplcate = df.duplicated().sum()
info = df.info()
describe = df.describe()
columns = df.columns
dataType = df.dtypes
rowlables = df.index
memoryuse = df.memory_usage()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Employee_ID       100 non-null    int64
 1   Name              100 non-null    object
 2   Age               100 non-null    int64
 3   Department        100 non-null    object
 4   Role              100 non-null    object
 5   Experience_Years  90 non-null     float64
 6   City              100 non-null    object
 7   Salary            90 non-null     float64
 8   Monthly_Sales     100 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 7.2+ KB

In [ ]:
#mathemetic 
count = input("Give columns name for count element:")
countval = df.count([count])
mval = int(input("give columns name for max value of element:"))
MAXval = df.max([mval])
mival = int(input("give columns name for min value of element:"))
MINval = df.min([mival])
value = int(input("Give columns for mean value:"))
Meanval =df.mean([value])
value2 = int(input("Give the columns for median value:"))

In [ ]:
#groupvalue
# col1 = input("Give columns1:")
# col2 = input("Give columns2:")
# col3 = input ("Give columns3:")
# gr = df.groupby(["Country","Product"]).agg({"Sale Price" : "count"})